<!DOCTYPE html>
<html>

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta property="og:title" content="Cancer.gov" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://Cancer.gov" />
  <meta property="og:url" content="http://Cancer.gov" />

</head>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&family=Jost:ital,wght@0,400;0,700;1,300" rel="stylesheet">
<body>
  <div id="mount" />
</body>

</html>
